<%= form_for(@auditoria) do |f| %>
  <% if @auditoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auditoria.errors.count, "error") %> prohibited this auditoria from being saved:</h2>

      <ul>
      <% @auditoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :questao_id %><br>
    <%= f.number_field :questao_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
