<%= form_for @grupo do |f| %>
  <div class="form-group">
    <%= f.label :nome, :class => 'control-label' %>
    <%= f.text_field :nome, :class => 'form-control' %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                grupos_path, :class => 'btn' %>
  </div>
<% end %>
